footer {
    background-color: #f1eff4;
    padding: 20px;
    color: #0e0d0d;
    font-size: 14px;
  }
  
  .footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section > div {
    flex: 1 1 22%; /* Adjusts based on screen size */
    margin: 10px;
  }
  
  h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li a {
    text-decoration: none;
    color: #2610e8;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  
  .feedback-form input, .feedback-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #1045a0;
    border-radius: 4px;
  }
  
  .feedback-form button {
    background-color: #2613a2;
    color: rgb(238, 234, 234);
    padding: 10px 15px;
    border: none;

    border-radius: 4px;
    cursor: pointer;
  }
  
  .feedback-form button:hover {
    background-color: #d72915;
  }
  .social-links {
    margin-top: 20px;
    text-align: left;
  }
  
  .social-links h4 {
    margin-bottom: 10px;
    color: #19191a; /* Customize the header color */
  }
  
  .social-links .social-icon img {
    width: 60px; /* Adjust size as needed */
    height: 60px;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .social-links .social-icon img:hover {
    transform: scale(1.1); /* Slight zoom on hover */
    filter: brightness(1.2); /* Make the icon brighter */
  }
  
  
   

  